<div class="page-background"></div>
<h3>WHO I AM?</h3>
<p>My name is Alicia Collymore, you may call me Alicia :) I love to code cool, interesting things. I’m currently working as a software engineer @ YouViewTV</p>

<h3>WHAT IS COLLYCODE?</h3>
<p>COLLYCODE is a specialist development agency, dedicated to produce the best product or service to all clients.</p>

<h3>WHAT CAN COLLYCODE DO</h3>
<p>Anything that needs coding we can code; websites, blogs, apps, web based software. My role is to be the tech lead, I pick the tech, make a plan and put together a team of specialist developers and designers specifically for your project Depending on the project I may even be one of the developers coding.</p>

<h3>SO HOW DOES IT WORK?</h3>
<p>We meet up, discuss your project. If we both feel happy I will evaluate every aspect of the project’s needs and the best direction for it. You will then be quoted, if you are happy I will put together a specialist team suited just for your project, ensuring the best development possible.</p>

