<div class="page-background"></div>
<div class="contact-details">
  <p>Lets keep it simple, give me a call or drop me an email</p>
  <p><a href="mailto:alicia@collycode.com" target="_blank">alicia@collycode.com</a></p>
  <p><a href="tel:07904362514">07904 362 514</a></p>
  <p class="social-media">
    <a href="https://twitter.com/aliciacollymore" target="_blank">
      <i class="fa fa-twitter-square" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/alicia.web/" target="_blank">
      <i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/alicia-collymore-743b0662" target="_blank">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
  </p>
</div>
