<header>
  <nav>
    <a (click)="showNav()" *ngIf="!displayNavLinks" class="fa fa-bars nav" aria-hidden="true"></a>
    <span class="nav-links" *ngIf="displayNavLinks">
        <a [routerLink]="['']" (click)="hideNav()">Home</a>
        <a [routerLink]="['about']" (click)="hideNav()">Things about me</a>
        <a [routerLink]="['contact']" (click)=" hideNav()">Get in touch</a>
        <a (click)="hideNav()" class="close-nav">X</a>
    </span>
  </nav>
</header>
  <!-- Images (and assets) are parsed and loaded from within the public directory -->
  <router-outlet></router-outlet>


